
Isle of Man TT VR Experience

Unity, Quest 2

1. Introduction
	- User has perception of moving forward
		- While balanced on a seat
	- On-rails, fast, on a motorcycle (like rollercoaster):
	

2. Implementation
	- Minimal assets
		- Motorcycle
		- Road
		- Environment
			- Walls
			- Pedestrians
			- Trees

	2.1. Visuals:
		- Tuning movement of objects (Too fast?)
		- Tuning own height
		- Tuning visual judder (discontinuity in frames)
	
	2.2. Head movement:
		- Tuning horizon without drift
	
	2.3. Audio system:
		- User has realistic perception of increasing wind noise with speed
		- Passing objects with audio (audience noise), realistic spatial audio
	
	2.4. Hand tracking (optional):
		- Can control motorcycle
			- Leaning
			- Steering
			- Push steering
